
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">SmartiCityDevices</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>


<ul class="navbar-nav mr-5">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="/beats/device_list/">Devices</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/webscrapy/dashboard/">WebScrapy</a>
      </li>
      {% else %}

      {% endif %}
    </ul>


  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" >
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">{{ user.get_username }} <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <ul class="navbar-nav mr-5">
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>